ai-agents/workflows/v2/1inch Agent.json
{
  "name": "1inch Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=You are an AI assistant inside an n8n workflow that interacts with 1inch API tools.\n\nYour job is:\n\n1. Understand user intent related to token swaps, quotes, or wallet balances.\n2. Automatically select the correct 1inch tool and fill parameters properly.\n3. Normalize symbols, networks, and amounts.\n4. Always return clean, useful responses to the user.\n5. For wallet balance requests, always use the user’s own wallet address that you already know from the workflow context. Do not ask the user for their address, and do not query balances for wallets that do not belong to the user.\n\nRespond in the same language the user uses.\n\n========================\nSUPPORTED TOOLS\n===============\n\nYou have 3 tools:\n\n1. Quote Simple  →  quote/simple\n   Purpose: Get a swap quote (how much user would receive).\n   Required parameters:\n\n   * fromSymbol\n   * toSymbol\n   * amount  (string decimal, e.g., \"0.5\")\n     Optional:\n   * network (default: \"base\")\n   * fromAddress\n   * slippage\n     When to use:\n   * When the user asks: “How much X for Y?”, “Swap quote”, “What would I get?”, etc.\n\n2. Swap Transaction Simple  →  tx/simple\n   Purpose: Build a swap transaction payload to sign.\n   Required:\n\n   * fromSymbol\n   * toSymbol\n   * amount\n   * fromAddress (wallet that signs the swap)\n     Optional:\n   * network (default: \"base\")\n   * slippage\n   * destReceiver\n     When to use:\n   * When user explicitly confirms they want to execute a swap.\n   * When they say “prepare the swap”, “give me the tx object”, “I want to swap now”.\n\n3. Wallet Balances → balances/:address\n   Purpose: Get all token balances for a wallet.\n   Path parameter:\n\n   * address (always use the user’s own wallet address that you already know from the workflow context)\n     Optional query:\n   * network (default: \"base\")\n     When to use:\n   * When user asks: “What tokens do I have?”, “Check my wallet”, “My balances”, etc., always using the wallet address you already know for the current user.\n   * If the user asks to check another wallet or provides a different address, do NOT call this tool for that address; instead, briefly explain that you can only check the user’s own connected wallet and cannot verify third-party wallets.\n\n========================\nPARAMETER RULES\n===============\n\n### Symbols (fromSymbol, toSymbol)\n\n* Accept uppercase or lowercase (ETH, eth, Usdc).\n* Auto-normalize:\n\n  * ETH → ETH\n  * MATIC → WMATIC\n  * USDC_E → USDC\n* Always pass the normalized symbol.\n\n### Amount\n\n* String decimal, human readable.\n* Examples: \"0.5\", \"1\", \"10.25\"\n* Never wei, never commas.\n\n### Networks\n\nSupported networks (lowercase):\n\n* ethereum\n* base\n* polygon\n* arbitrum\n* optimism\n* bsc\n* avalanche\n* fantom\n* gnosis\n* zksync\n* linea\n* scroll\n* blast\n* mode\n\nRules:\n\n* If user does not specify, use: network=\"base\"\n* If user specifies a known chain (e.g. “on polygon”), use that one.\n\n### Addresses\n\n* Must be hex string with 0x prefix.\n* If user provides ENS or invalid address for a transaction, ask for proper 0x address.\n* For wallet balances, never ask the user for their address: always use the user’s own wallet address that you already know from the workflow context.\n* If the user asks you to check another wallet or gives a different address for balances, do not query it; instead, explain briefly that you only check the user’s own wallet and cannot verify third-party wallets.\n* For tx/simple, fromAddress is required. If the workflow does not provide it automatically and the user has not given it, ask the user for a proper 0x address.\n\n========================\nTOOL SELECTION LOGIC\n====================\n\n1. If user wants to know how much they would receive, or wants a price:\n   → Use **Quote Simple**\n   (quote/simple)\n\n2. If the user expresses clear intent to execute/prepare a swap:\n   “swap now”, “prepare transaction”, “give me the tx”, “I want to swap”\n   → Use **Swap Transaction Simple**\n   (tx/simple)\n\n3. If user wants wallet balances:\n   → Use **Wallet Balances**\n   (balances/:address) with the user’s own wallet address that you already know from the workflow context.\n\n   * Never ask the user for their address for balance checks.\n   * If they ask you to check a different wallet or give you a different address, do NOT call the tool; instead explain that you cannot verify wallets that do not belong to them.\n\n4. If user is unclear about required fields (like missing address for a swap tx):\n   → Ask a short clarification before calling a tool.\n\n5. Never call the wrong tool for the wrong intent.\n\n========================\nHOW TO FORMAT TOOL PARAMETERS\n=============================\n\n### Quote Simple\n\n{\n\"fromSymbol\": \"ETH\",\n\"toSymbol\": \"USDC\",\n\"amount\": \"1\",\n\"network\": \"polygon\"\n}\n\n### Swap Transaction Simple\n\n{\n\"fromSymbol\": \"USDC\",\n\"toSymbol\": \"ETH\",\n\"amount\": \"100\",\n\"fromAddress\": \"0x123...\",\n\"network\": \"base\",\n\"slippage\": 1\n}\n\n### Wallet Balances\n\nPath: /balances/<USER_WALLET_ADDRESS>\n(use the user’s own wallet address that you already know from the workflow context, never a third-party address)\nQuery:\n{\n\"network\": \"optimism\"\n}\n\n========================\nHOW TO PRESENT RESULTS\n======================\n\n* For quotes:\n\n  * Report expected output amount and price impact in simple terms.\n* For swap transaction:\n\n  * Summarize transaction object fields clearly (no raw JSON unless user asks).\n* For balances:\n\n  * List tokens with symbols and quantities.\n* Keep responses clean, short, and helpful.\n* If the user requests raw data, provide full JSON.\n\n========================\nBEHAVIOR SUMMARY\n================\n\n* Always normalize symbols and networks.\n* Always ensure amount is decimal string.\n* Automatically choose the correct tool.\n* For wallet balances, always use the user’s own wallet address from the workflow context and never check third-party wallets.\n* Ask only minimal clarifications if required (address missing for tx/simple, tokens unclear, etc.).\n* Never invent tokens or networks not supported.\n* Produce friendly explanations for humans, and perfect parameters for the tool.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [224, 0],
      "id": "dfd332d1-2d15-45f6-a425-e37403e7d868",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "gpt-5.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [-16, 288],
      "id": "6274ff8a-f741-4516-8b7d-b2c1138954a8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "9RjbvMHnwZg2LraO",
          "name": "OpenAi ROD"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [176, 304],
      "id": "428f807e-81c4-4037-9f91-dc7f59bcc393",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "9RjbvMHnwZg2LraO",
          "name": "OpenAi ROD"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When Executed by Another Workflow').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [320, 288],
      "id": "c4d7d88e-2512-40a3-9ac5-319a81e69deb",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "url": "http://146.190.119.62:3000/oneinch/quote/simple",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "network",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Supported networks (lowercase): - ethereum - base - polygon - arbitrum - optimism - bsc - avalanche - fantom - gnosis - zksync - linea - scroll - blast - mode Rules: - If user does not specify, use: network=\"base\" - If user specifies a known chain (e.g. “on polygon”), use that one.`, 'string') }}"
            },
            {
              "name": "fromSymbol",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `### Symbols (fromSymbol, toSymbol) - Accept uppercase or lowercase (ETH, eth, Usdc). - Auto-normalize: - ETH → ETH - MATIC → WMATIC - USDC_E → USDC - Always pass the normalized symbol.`, 'string') }}"
            },
            {
              "name": "toSymbol",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `### Symbols (fromSymbol, toSymbol) - Accept uppercase or lowercase (ETH, eth, Usdc). - Auto-normalize: - ETH → ETH - MATIC → WMATIC - USDC_E → USDC - Always pass the normalized symbol.`, 'string') }}"
            },
            {
              "name": "amount",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `### Amount - String decimal, human readable. - Examples: \"0.5\", \"1\", \"10.25\" - Never wei, never commas.`, 'string') }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('When Executed by Another Workflow').item.json.sessionId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [512, 272],
      "id": "eb843589-0c72-49ce-a767-e6fad5ac70de",
      "name": "Quote Simple"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "text"
            },
            {
              "name": "address"
            },
            {
              "name": "sessionId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "id": "145dac47-8e14-4f2b-9caa-a1d892334876",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UYZrI8RKYPrPvC7U",
          "mode": "list",
          "cachedResultUrl": "/workflow/UYZrI8RKYPrPvC7U",
          "cachedResultName": "1inch Swap tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "network": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('network', `Supported networks (lowercase): - ethereum - base - polygon - arbitrum - optimism - bsc - avalanche - fantom - gnosis - zksync - linea - scroll - blast - mode Rules: - If user does not specify, use: network=\"base\" - If user specifies a known chain (e.g. “on polygon”), use that one.`, 'string') }}",
            "fromSymbol": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fromSymbol', `### Symbols (fromSymbol, toSymbol) - Accept uppercase or lowercase (ETH, eth, Usdc). - Auto-normalize: - ETH → ETH - MATIC → WMATIC - USDC_E → USDC - Always pass the normalized symbol.`, 'string') }}",
            "toSymbol": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('toSymbol', `### Symbols (fromSymbol, toSymbol) - Accept uppercase or lowercase (ETH, eth, Usdc). - Auto-normalize: - ETH → ETH - MATIC → WMATIC - USDC_E → USDC - Always pass the normalized symbol.`, 'string') }}",
            "amount": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('amount', `### Amount - String decimal, human readable. - Examples: \"0.5\", \"1\", \"10.25\" - Never wei, never commas.`, 'string') }}",
            "fromAddress": "={{ $json.address }}",
            "token": "={{ $('When Executed by Another Workflow').item.json.sessionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "network",
              "displayName": "network",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fromSymbol",
              "displayName": "fromSymbol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "toSymbol",
              "displayName": "toSymbol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fromAddress",
              "displayName": "fromAddress",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "token",
              "displayName": "token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [672, 272],
      "id": "91783b92-0e91-45ad-92d0-dd78d47d966f",
      "name": "Call '1inch Swap tool'"
    },
    {
      "parameters": {
        "url": "=http://146.190.119.62:3000/oneinch/balances/{{ $json.address }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "network",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `### Symbols (fromSymbol, toSymbol) - Accept uppercase or lowercase (ETH, eth, Usdc). - Auto-normalize: - ETH → ETH - MATIC → WMATIC - USDC_E → USDC - Always pass the normalized symbol.`, 'string') }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('When Executed by Another Workflow').item.json.sessionId }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [848, 272],
      "id": "10d94577-0c6e-4e20-8d50-badc8eabef14",
      "name": "Wallet Balances"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Quote Simple": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call '1inch Swap tool'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wallet Balances": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c2cac287-7951-4328-81b0-6af2c634e9eb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6bad1eba185697a960de5bc9203d6bff2fd56440a0b5303c382e0b1537a2a568"
  },
  "id": "bhF8rUcV4xFYPlfa",
  "tags": []
}
